@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito/Nunito-Regular.woff2') format('woff2'),
       url('/fonts/nunito/Nunito-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}